openai
streamlit
streamlit-chat
watchdog
pyaudio
wave
langchain
google-search-results
tiktoken
redis
gptcache
pydantic
fastapi[all]
SQLAlchemy-Utils
psycopg2-binary
huggingface_hub
ipywidgets
transformers
sentence_transformers
feast